- if contests.any?
  %table.contests.table.table-hover
    %thead
      %tr
        %th.col-md-6 コンテスト名
        %th.col-md-3 開始時刻
        %th.col-md-3 終了時刻
    %tbody
      - contests.each do |contest|
        %tr
          %td
            %a{ href: contest_path(contest.id) }= contest.title
          %td= contest.start_at
          %td= contest.end_at
- else
  %p コンテストがありません
