%h1.page-header= @contest.title
%h2 コンテスト情報
%div
  = render 'contest_form'

%h2 問題一覧
- for problem in @contest_problems
  .problem
    %a{ class: "problem", href: problem.url }= problem.title

%h2 問題を追加
= render 'add_problem_form', contest: @contest, problem: @new_problem
