= render 'contest_header', { contest: @contest }
= render 'contests/tabs', { active_tab: :home, contest_id: params[:id] }

コンテストホーム
- if current_user and !@contest.contestant?(current_user)
  = render 'registration'
