%h1.page-header ユーザ 一覧
.users
  %table.table.table-hover
    %thead
      %tr
        %th ユーザ名
        %th AtCoder レート
        %th AOJ Solved 数
    %tbody
      - @users.each do |user|
        %tr
          %td= colored_name_link_tag(user.user_name, user.name_color)
          %td= user.atcoder_rating
          %td= aoj_solved_count(user)
