.row
  .col-sm-10.col-sm-offset-1
    = render 'contests/contest_header', { contest: @contest }
    
    - if @contest.contestant?(current_user) or @contest.past?
      = render 'contests/tabs', { active_tab: :standing }
      .standings
        = render 'contests/standings', { standings: @contest.standings, problems: @contest.problems, users: @users }
    - else
      = render 'contests/registration'
