= render 'contests/contest_header', { contest: @contest }

= render 'contests/tabs', { active_tab: :standing, contest_id: params[:contest_id] }
.standings
  = render 'contests/standings', { standings: @contest.standings, problems: @contest.problems, users: @users }
