= render 'contests/contest_header', { contest: @contest }

- if @contest.contestant?(current_user) or @contest.past?
  = render 'contests/tabs', { active_tab: :submissions, contest_id: params[:contest_id] }
  - if @contest.submissions.any?
    = render 'contests/submissions', { submissions: @contest.submissions }
  - else
    提出がありません

- else
  = render 'contests/registration'
